<div class="row class-item">
  <div class="col col-4 class-name">
    <h4>{{ticket_class.class_name | titlecase}}</h4>
  </div>
  <div class="col col-2">
    <form [formGroup]="amountForm">
      <input formControlName="amount" class="tickets-amount-input" type="number" min="1" placeholder="1"
             (change)="onAmountChanged()">
    </form>
  </div>
  <div class="col col-2 remaining-seats">
    {{ticket_class.remaining_seats}}
  </div>
  <div class="col-4 ticket-price">
    <div class="price" *ngIf="ticket_class.discount === undefined">
      <ins>
        <span class="amount">{{ticket_class.ticket_price}}$</span>
      </ins>
    </div>

    <div class="price-discount" *ngIf="ticket_class.discount !== undefined">
      <del>
        <span class="amount">{{ticket_class.ticket_price}}$</span>
      </del>
      <ins>
        <span class="amount">{{newTicketPrice}}$</span>
      </ins>
    </div>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(trip)">
      CHOOSE
    </button>
  </div>
</div>
