.class-item {
  background: #f5f5f5;
  padding: 0.5rem 0.3rem;
  border-top: 1px dashed #7f7f7f;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
}

.col-5 {
  justify-content: start;
}

.tickets-amount-input {
  width: 50px;
  height: 32px;
  text-align: center;
}

span.price {
  font-size: 20pt;
}

.btn {
  display: inline-block;
  border: 1px solid #007bff;
  border-radius: 25px;
  padding: 13px 30px;
  margin-left: 16px;
  text-decoration: none;
  background: #007bff;
  color: #f5f5f5;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn:hover {
  transform: translateY(-2px);
  -webkit-box-shadow: 0 15px 25px rgba(0,0,0,.12);
  box-shadow: 0 15px 25px rgba(0,0,0,.12);
}

.btn:focus, .close:focus {
  outline: none;
}

.btn:active {
  box-shadow: none;
  -webkit-transition: all .14s cubic-bezier(.55,0,.1,1);
  transition: all .14s cubic-bezier(.55,0,.1,1);
  will-change: transform;
  transform: translateY(0);
}
