<div class="row class-item">
  <div class="col col-5">
    <h4>{{ticket_class.class_name}}</h4>
  </div>
  <div class="col col-2">
    <form [formGroup]="amountForm">
      <input formControlName="amount" class="tickets-amount-input" type="number" min="1" placeholder="1"
             (change)="onAmountChanged()">
    </form>
  </div>
  <div class="col col-2">
    {{ticket_class.remaining_seats}}
  </div>
  <div class="col-3 ticket-price">
    <span class="price">{{ticket_class.ticket_price}}</span>$
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered()">
      CHOOSE
    </button>
  </div>
</div>
