<div class="container-fluid trips">
  <div class="row">
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <select class="form-control col-xl-6 col-md-12 col-lg-6" (click)="chooseNewFilter($event.target)">
            <option *ngFor="let filters of filterCriteria" [value]="filters.name">
              {{filters.name}}
            </option>
          </select>

          <input type="text" class="form-control col-xl-6 col-md-12 col-lg-6" [placeholder]="currentFilterPlaceholder"
            [(ngModel)]="filterContent" />
        </div>
      </div>

      <hr>

      <h2 class="text-center">
        New trip
      </h2>

      <hr>

      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3>From:</h3>
        <div class="form-group">
          <select class="form-control col-md-12 col-sm-12 col-lg-12" [ngClass]="{
              'is-invalid':form.get('departure_planet').touched && form.get('departure_planet').invalid,
              'is-valid': form.get('departure_planet').valid
              }" formControlName="departure_planet" (change)="choosePlanet('departure')">
            <option value="" disabled selected>Choose departure planet</option>
            <option *ngFor="let planet of general.planets" [value]="planet">
              {{planet}}
            </option>
          </select>
          <span *ngIf="form.get('departure_planet').touched && form.get('departure_planet').invalid"
            class="invalid-feedback">
            Please choose a departure planet
          </span>
        </div>

        <div class="form-group">
          <select class="form-control col-md-12 col-sm-12 col-lg-12" [ngClass]="{
              'is-invalid':form.get('departure_spaceport').touched && form.get('departure_spaceport').invalid,
              'is-valid': form.get('departure_spaceport').valid
              }" formControlName="departure_spaceport">
            <option value="" disabled selected>Choose departure spaceport</option>
            <option *ngFor="let planet of departureSpaceports" [value]="planet">
              {{planet}}
            </option>
          </select>
          <span *ngIf="form.get('departure_spaceport').touched && form.get('departure_spaceport').invalid"
            class="invalid-feedback">
            Please choose a departure spaceport
          </span>
        </div>

        <div class="form-group">
          <input type="date" name="flightDate" class="form-control" [ngClass]="{
              'is-invalid':form.get('departure_date').touched && form.get('departure_date').invalid,
              'is-valid': form.get('departure_date').valid
            }" formControlName="departure_date" />
          <span class="invalid-feedback">
            <span *ngIf="form.get('departure_date').touched && form.get('departure_date').invalid">
              Please choose a departure date
            </span>
            <!-- <span *ngIf="f.departure_date.errors.notEarlierThanCurrentDate">
              Departure date can't be earlier than current date
            </span> -->
          </span>
        </div>

        <input class="form-control" type="time" formControlName="departure_time" />

        <h3>To:</h3>

        <div class="form-group">
          <select class="form-control col-md-12 col-sm-12 col-lg-12" [ngClass]="{
              'is-invalid':form.get('arrival_planet').touched && form.get('arrival_planet').invalid,
              'is-valid': form.get('arrival_planet').valid
              }" formControlName="arrival_planet" (change)="choosePlanet('arrival')">
            <option value="" disabled selected>Choose arrival planet</option>
            <option *ngFor="let planet of general.planets" [value]="planet">
              {{planet}}
            </option>
          </select>
          <span *ngIf="form.get('arrival_planet').touched && form.get('arrival_planet').invalid"
            class="invalid-feedback">
            Please choose a arrival planet
          </span>
        </div>

        <div class="form-group">
          <select class="form-control col-md-12 col-sm-12 col-lg-12" [ngClass]="{
              'is-invalid':form.get('arrival_spaceport').touched && form.get('arrival_spaceport').invalid,
              'is-valid': form.get('arrival_spaceport').valid
              }" formControlName="arrival_spaceport">
            <option value="" disabled selected>Choose arrival spaceport</option>
            <option *ngFor="let planet of arrivalSpaceports" [value]="planet">
              {{planet}}
            </option>
          </select>
          <span *ngIf="form.get('arrival_spaceport').touched && form.get('arrival_spaceport').invalid"
            class="invalid-feedback">
            Please choose an arrival spaceport
          </span>
        </div>

        <div class="form-group">
          <input type="date" name="flightDate" class="form-control" [ngClass]="{
              'is-invalid':form.get('arrival_date').touched && form.get('arrival_date').invalid,
              'is-valid': form.get('arrival_date').valid
            }" formControlName="arrival_date" />
          <span class="invalid-feedback">
            <span *ngIf="form.get('arrival_date').touched && form.get('arrival_date').invalid">
              Please choose an arrival date
            </span>
            <!-- <span *ngIf="f.arrival_date.errors.notEarlierThanCurrentDate">
              Arrival date can't be earlier than current date
            </span> -->
          </span>
        </div>
        <input class="form-control" type="time" formControlName="arrival_time" />
        <hr>

        <div class="text-center">
          <button class="btn-success btn col-md-12" type="submit" [disabled]="form.invalid">
            Add
          </button>
        </div>
      </form>
      <p-message *ngIf="showSuccess" style="width: 100%; text-align: center;" severity="success" text="Record Saved">
      </p-message>

      <p-message *ngIf="showError" style="width: 100%; text-align: center;" severity="error"
        text="Something went wrong. Please try again"></p-message>
    </div>

    <div class="col-md-9">
      <app-trips-table [trips]="defaultTrips" (notifyAboutUpdate)="processUpdateEvent($event)"
        (notifyAboutDelete)="processDeleteNotification()" [filterCriteria]="currentFilter"
        [filterContent]="filterContent">
      </app-trips-table>
    </div>
  </div>
</div>