<p-toast></p-toast>

<div
style="padding-top: 1rem; width: 100%; height: 100%; max-height: 500px; overflow-y: scroll;"
*ngIf="!(suggestions === undefined || suggestions.length == 0)">
<div class="container container-card card"
  *ngFor="let suggestion of suggestions"
  >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <i class="fa fa-ticket" aria-hidden="true"></i>
            {{suggestion.ticketClass.class_name}}
          </td>
          <td>
            {{suggestion.ticketClass.ticket_price}}
          </td>
        </tr>
        <ng-container
        *ngFor="let service of suggestion.services; let i=index">
          <tr>
            <td scope="row" style="padding-left: 1.25rem;">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              {{service.service_name}}
            </td>
            <td>
              {{service.service_price}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <footer class="row table-footer justify-content-end">
      <div class="col-sm-auto">
        <button class="btn btn-xs btn-secondary list-buttons"
        type="button"
        (click)="onUpdate(suggestion)">
          Edit
        </button>
      </div>
      <div class="col-sm-auto">
        <button class="btn btn-xs btn-danger list-buttons"
        type="button"
        (click)="onDelete(suggestion)">
          Delete
        </button>
      </div>
    </footer>
  </div>
</div>
