.main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  a{
    color: #D5DBe6;
    font-family: "bahnschrift", fantasy;
  }

  a:hover {
    color: #fff;
  }

  main {
    padding-bottom: 120px;
  }
