<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(240, 248, 255, 0.9);">
    <a class="navbar-brand" routerLink="/approver">
      <img class="logo" src="assets/images/logo.png" alt="StarTracker" />
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/approver/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/approver/trip']">Trips</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/approver/service']">Services</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/approver/notifications']">Notifications</a>
        </li>
        <li class="nav-item">
          <div class="d-inline-block">
            <a class="slide-btn" routerLink="">
              <span>Log out</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
