<div class="container card">
  <div class="row flight">
    <div class="col departure">
      <p class="date">{{trip.departure_date}}</p>
      <p class="spaceport">{{trip.departure_spaceport_name}}, {{trip.departure_planet_name}}</p>
    </div>
    <div class="col arrival">
      <p class="date">{{trip.arrival_date}}</p>
      <p class="spaceport">{{trip.arrival_spaceport_name}}, {{trip.arrival_planet_name}}</p>
    </div>
    <div class="col">
      <p>Carrier:</p>
      <p>{{"CARRIER_NAME"}}</p>
    </div>
  </div>
    <div class="row class-header">
      <div class="col-6">
        Ticket class name
      </div>
      <div class="col-1">
        Amount
      </div>
      <div class="col-1">
        Tickets left
      </div>
    </div>
  <app-ticket-class *ngFor="let ticket_class of trip.ticket_classes" [ticket_class]="ticket_class"></app-ticket-class>
</div>



