.container {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  font-family: "bahnschrift", sans-serif;
  padding: 1rem 1rem 0;
  margin: 16px auto;
  box-shadow: 0 2px 50px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 2px 50px rgba(0,0,0,.25);
}

p {
  margin-bottom: 0;
}

.date {
  font-size: 20pt;
}

.class-header {
  background: #f5f5f5;
  border-top: 1px solid #007bff;
}

.col-1, .col-2, .col-3, .col-4 {
  margin: 0.3rem 0;
  line-height: 1;
  justify-content: center;
  text-align: center;
}

.name-header {
  text-align: left;
  line-height: 1.5;
}
