<div class="container card">
  <div class="row flight">
    <div class="col col-lg-4 departure">
      <p class="date">{{trip.departure_date}}</p>
      <p class="spaceport">{{trip.departure_spaceport}}, {{trip.departure_planet}}</p>
    </div>
    <div class="col col-lg-4 arrival">
      <p class="date">{{trip.arrival_date}}</p>
      <p class="spaceport">{{trip.arrival_spaceport}}, {{trip.arrival_planet}}</p>
    </div>
    <div class="col col-lg-4">
    </div>
  </div>
    <div class="row class-header">
      <div class="col col-4 name-header">
        Ticket class name
      </div>
      <div class="col col-2">
        Amount
      </div>
      <div class="col col-2">
        Tickets left
      </div>
      <div class="col col-4" style="text-align: left">Price</div>
    </div>
  <app-ticket-class *ngFor="let ticket_class of trip.ticket_classes"
                    [ticket_class]="ticket_class"
                    [trip]="trip"></app-ticket-class>
</div>



