<div class="container card">
  <div class="row flight">
    <div class="col">
      <p class="date">{{"22.03.2020"}}</p>
      <p class="spaceport">{{"Departure Spaceport"}}, {{"MOON"}}</p>
    </div>
    <div class="col">
      <p class="date">{{"22.04.2020"}}</p>
      <p class="spaceport">{{"Arrival Spaceport"}}, {{"EARTH"}}</p>
    </div>
    <div class="col">
      <p>Carrier:</p>
      <p>{{"CARRIER_NAME"}}</p>
    </div>
  </div>
    <div class="row class-header">
      <div class="col-6">
        Ticket class name
      </div>
      <div class="col-1">
        Amount
      </div>
      <div class="col-1">
        Tickets left
      </div>
    </div>
    <app-ticket-class></app-ticket-class>
    <app-ticket-class></app-ticket-class>
    <app-ticket-class></app-ticket-class>
</div>



