<div class="row custom-font" id="search">
  <div class="col-lg-12">
    <div class="card" style="background-color: rgba(240, 248, 255, 0.9);">
      <div class="card-body card-block container-fluid">
        <h1 class="card-title text-left">Choose your flight</h1>
        <form [formGroup]="searchForm"
              (ngSubmit)="onSubmit()">

          <hr class="hr-xs">

          <!-- <div class="form-check form-check-inline">
            <input class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="one_way"
                  (click)="searchForm.get('finishDate').disable();">
            <label class="form-check-label" for="inlineRadio1">One way</label>
          </div> -->
          <!-- <div class="form-check form-check-inline">
            <input class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="return"
                  checked="checked"
                  (click)="searchForm.get('finishDate').enable();">
            <label class="form-check-label" for="inlineRadio2">Return</label>
          </div> -->
          <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" value="withConnections" id="connections">
            <label class="form-check-label" for="connections">
              Suggest fligts with connection(s)
            </label>
          </div> -->

          <br/>

          <div class="row justify-content-center">
            <div class="col-lg-1">
              <h6 class="search-bar__heading">From:</h6>
            </div>
            <div class="col-lg-2">
              <select onclick='setPoint("start")'
                      id="select_from"
                      class='custom-select form-control'
                      formControlName="startPlanet"
                      (change)="getSpaceports(true)">
                <option [selected]="true" disabled [value]="">Choose a planet</option>
                <option *ngFor="let planet of planets"
                        [value]="planet.planetName.toLowerCase()">{{planet.planetName | titlecase}}
                </option>
              </select>
            </div>
            <div class="col-lg-2">
              <select class="custom-select form-control"
                      formControlName="startSpaceport">
                <option selected [value]="">Any spaceport</option>
                <option *ngFor="let spaceport of spaceportsFrom">{{spaceport.spaceport_name}}</option>
              </select>
            </div>
            <div class="col-lg-1">
              <h6 class="search-bar__heading">To:</h6>
            </div>
            <div class="col-lg-2">
              <select onclick='setPoint("finish")'
                      id="select_to"
                      class='custom-select form-control'
                      formControlName="finishPlanet"
                      (change)="getSpaceports(false)">
                <option [selected]="true" disabled [value]="">Choose a planet</option>
                <option *ngFor="let planet of planets"
                        [value]="planet.planetName.toLowerCase()">{{planet.planetName | titlecase}}
                </option>
              </select>
            </div>
            <div class="col-lg-2">
              <select class="custom-select form-control"
                      formControlName="finishSpaceport">
                <option selected [value]="">Any spaceport</option>
                <option *ngFor="let spaceport of spaceportsTo">{{spaceport.spaceport_name}}</option>
              </select>
            </div>
          </div>

          <br/>

          <div class="row justify-content-center">
            <div class="col-lg-2">
              <h6 class="search-bar__heading">Pick a date of flight:</h6>
            </div>
            <div class="col-lg-3">
              <p-calendar [minDate]="minimumDate"
                          formControlName="startDate"
                          dateFormat="dd.mm.yy"
                          readonlyInput="true"
                          [showIcon]="true"></p-calendar>
            </div>
            <!-- <div class="col-lg-2">
              <h6 class="search-bar__heading">Pick a date of return:</h6>
            </div>
            <div class="col-lg-3">
                <p-calendar formControlName="finishDate"
                            [minDate]="minFinishDate"
                            dateFormat="dd.mm.yy"
                            readonlyInput="true"
                            [showIcon]="true"></p-calendar>
            </div> -->
          </div>

          <hr class="hr-xs">

          <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
              <input type="submit" value="Search" class="btn btn-primary btn-block"
                     [disabled]="searchForm.invalid">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
