<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 my-auto">
      <div
      [hidden]="isAdding">
        <div class="row form-footer justify-content-around">
          <div class="col-md-4">
            <button class="btn-primary btn btn-block"
            (click)="addSuggestion()">
              New suggestion
            </button>
          </div>
        </div>

        <app-suggestions-table
        [ticketClasses]="trip.ticket_classes"
        (selectedSuggestion)="editSuggestion($event)"
        (deletedSuggestion)="deleteSuggestion($event)">
        </app-suggestions-table>
      </div>

      <div
      [hidden]="!isAdding">
        <app-suggestions-tree
        [trip]="trip"
        (selectedSuggestion)="postSuggestion($event)"
        (canceledSuggestion)="cancelSuggestion($event)">
        </app-suggestions-tree>
      </div>
    </div>
  </div>
</div>
