.wrapper {
  background: url('../../../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

a {
  color: #D5DBe6;
  font-family: "bahnschrift", fantasy;
}

a:hover {
  color: #fff;
}

main {
  padding-bottom: 120px;
}
