<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 my-3">
      <div id="carrierChartContainer" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="col-md-6 my-3">
      <div id="userChartContainer" style="height: 370px; width: 100%;"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 my-3">
      <div id="locationChartContainer" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="col-md-6 my-3">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h6 class="search-bar__heading">From:</h6>
        </div>
        <div class="col-lg-6">
          <h6 class="search-bar__heading">To:</h6>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <input type="date" id="fromDate" class="form-control datepicker">
        </div>
        <div class="col-lg-6">
          <input type="date" id="toDate" class="form-control datepicker">
        </div>
      </div>
      <hr class="hr-xs">
      <div class="row justify-content-around">
        <div class="col-lg-5">
          <input type="submit" value="Last week" class="btn btn-primary btn-block">
        </div>
        <div class="col-lg-5">
          <input type="submit" value="Last month" class="btn btn-primary btn-block">
        </div>
      </div>
    </div>
  </div>
</div>
