<div class="list-group">
    <ul>
      <li class="list-group-item" 
          *ngFor="let trip of trips"
          style="margin-top:1.5%;">
        <div class="row">
          <div class="col-sm-12">
  
              <div class="row">
                <h3 class="col-6">
                  Trip data:
                </h3>
                <div class="col-6">
                  <div class="row align-items-start">
                    <div class="col">
                      {{trip.departure_spaceport.planet.planet_name}}
                    </div>
                    <div class="col"></div>
                    <div class="col">
                      {{trip.arrival_spaceport.planet.planet_name}}
                    </div>
                   </div>
                  <div class="row align-items-center">
                    <div class="col">
                      {{trip.departure_spaceport.spaceport_name}}
                    </div>
                    <div class="col" style="text-align: center">
                      <i class="fa fa-arrow-right" style="margin: 0 auto"></i>
                    </div>
                    <div class="col">
                      {{trip.arrival_spaceport.spaceport_name}}
                    </div>
                  </div>
                  <div class="row align-items-end">
                    <div class="col">
                      {{trip.departure_date | date}}
                  </div>
                  <div class="col"></div>
                    <div class="col">
                      {{trip.arrival_date | date}}
                    </div>
                  </div>
                </div>
                  
              </div>
  
            <hr>
  
            <div class="row">
              <h3 class="col-6">Carrier:</h3>
              <p class="col-6">{{trip.carrier_name}}</p>
            </div>
  
            <hr>
  
            <div class="row">
              <h5 class="col-6">Date of creation:</h5>
              <p class="col-6">
                {{trip.creation_date | date}}
              </p>
            </div>
  
            <hr>

            <div class="row">
              <h5 class="col-2">History:</h5>
              <button class="btn btn-success btn-md offset-9"
                      (click) = "moreFlag = !moreFlag;"
                      [disabled] = "(trip.trip_reply.length == 0) || (loadingTrip == trip)">
                <i *ngIf="!moreFlag" class="fa fa-caret-down"></i>
                <i *ngIf="moreFlag" class="fa fa-caret-up"></i>
              </button>
                <ul class="col-10 offset-1" *ngIf="moreFlag">
                  <li *ngFor="let reply of trip.trip_reply">
                    <p style="font-weight: bold">{{reply.creation_date | date}}</p>
                    <div class="offset-1">carrier name:</div>
                    <div class="offset-2">{{reply.reply_text}}</div>
                  </li>
                </ul>
            </div>

            <hr>

          </div>
        </div>
  
        <div class="row justify-content-around"
            *ngIf="currentTripForReply !== trip && loadingTrip !== trip">
          <button class="btn btn-success col-4"
                  (click)="onPublish(trip)">
            Publish
          </button>
  
          <button class="btn btn-info col-4"
                  (click)="currentTripForReply = trip">
            Under clarification
          </button>
        </div>
  
        <form [formGroup]="form"
              (ngSubmit)="onReview(trip)"
              *ngIf="currentTripForReply == trip && loadingTrip !== trip">
          <div class="form-group">
            <label for="reply"><h5>Reply:</h5></label>
            <textarea class="form-control"
                      id="reply"
                      rows="3"
                      formControlName="reply_text"
                      [ngClass]="{
                     'is-invalid':form.get('reply_text').invalid,
                     'is-valid': form.get('reply_text').valid
                     }">
            </textarea>
          </div>
  
          <div class="row justify-content-around">
            <button class="btn btn-success col-4"
                    type="submit"
                    [disabled]="form.invalid">
              Write a reply
            </button>
            <button class="btn btn-danger col-4"
                    (click)="resetReply()">
              Cancel
            </button>
          </div>
        </form>
      </li>
    </ul>
</div>
  <!--<app-paginator
    [page]="trips"
    [allNotes]=10
    [from]="pageFrom"
    [number]="pageNumber"
    (update)="onPageUpdate($event)"
  >
  </app-paginator>-->
<p-growl></p-growl> 