.main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

.register-form {
    &__redirect {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
     &__header {
        font-size: 2rem;
    }
    &__bg {
        background-color: rgba(240, 248, 255, 0.9);
    }
    &__input {
        text-align: left;
        font-size: 1.15rem;
    }
    &__invalid {
        color: red;
        margin-left: 45px;
    }
}

.is-invalid {
  border: 1px solid red;
}
