<div class="row features card" id='features'>
  <div class="col-lg-4 features__item">
    <img class="features__img" src="assets/images/Space icons (7).png" alt="feature-image" />
    <p class="features__number">600</p>
    <p class="features__heading">reliable carriers</p>
    <p class="features__description">We entrust our customers' lives only to reliable carriers</p>
  </div>
  <div class="col-lg-4 features__item">
    <img class="features__img" src="assets/images/Space icons (8).png" alt="feature-image" />
    <p class="features__number">600</p>
    <p class="features__heading">satisfied customers</p>
    <p class="features__description">Comfortable and safe trips to any location of solar system</p>
  </div>
  <div class="col-lg-4 features__item">
    <img class="features__img" src="assets/images/Space icons (9).png" alt="feature-image" />
    <p class="features__number">600</p>
    <p class="features__heading">services</p>
    <p class="features__description">Everything for your comfort</p>
  </div>
</div>
