<div class="container-fluid">
    

<div class="img-wrap">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <img src='assets/images/error.svg' class="img-responsive" alt="Error" /> 
        </div> 
    
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="title">404</div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 wrong-block">
            <div class="wrong-text">It looks like you’re on the wrong planet!</div>
            <a href="/" class="btn btn-primary btn-lg" role="button">Come back home</a>
        </div>
</div>

</div>