.card {
  margin: 50px;
}

.search-bar__heading {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .search-bar__heading {
    text-align: left;
  }
}

.custom-font {
  font-family: "bahnschrift";
}
