<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-container">
        <h3 class="card-title text-center header">Dashboard charts:</h3>
        <div class="card-body">
          <h5>
            <a class="nav-link text-secondary" [routerLinkActive]="['active']" routerLink="/admin/dashboards/popularity">
              Increasing of carriers, locations, users
            </a>
            <a class="nav-link text-secondary" [routerLinkActive]="['active']" routerLink="/admin/dashboards/costs">
              The costs
            </a>
            <a class="nav-link text-secondary" [routerLinkActive]="['active']" routerLink="/admin/dashboards/trips-services-distribution">
              Trip’s and the service’s distribution
            </a>
            <a class="nav-link text-secondary" [routerLinkActive]="['active']" routerLink="/admin/dashboards/trouble-tickets">
              Trouble tickets statistics
            </a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


