<h2>Choose a carrier:</h2>
    <div class="row">
      <select class="custom-select col-6" (change)='getCarrierByName($event.target)' style="margin-left:2%">
        <option selected>Choose a carrier</option>
            <option *ngFor="let carrier of carriers">{{carrier.username}}</option>
      </select>    
    </div>

  <h4 *ngIf = 'emptyResp && !(curName=="")'
      style="margin-top:1.5%">This carrier didn't have any trips during this period.</h4>
  <div class="row">
      <div class="col-12 my-auto">
        <div class="card" style="margin-top:2%; background-color: rgba(240, 248, 255, 0.9);">
          <div class="card-body" [hidden]='!chart'>
            <h1 class='title'>Costs of {{curName}}</h1>
            <div id="chartContainerCar" style="height: 370px; width: 100%;"></div>
            <!-- <div class="row">
                <div class="col-2 chart-btn">
                  <button class="btn btn-primary" (click)='getWeakStat();getCarCosts();' id='perWeak' [disabled]="buttons.butWeek">Per weak</button>
                </div>
                <div class="col-2 offset-1 chart-btn">
                  <button class="btn btn-primary" (click)='getMonthStat();getCarCosts();' id='perMonth' [disabled]="buttons.butMonth">Per month</button>
                </div>
                <div class="col-7 chart-btn">
  
                    <form>
                      <div class="row">
                        <div class='col-6'>
                        <p-calendar dateFormat="dd.mm.yy"
                                readonlyInput="true"
                                [showIcon]="true"
                                placeholder="dd.mm.yyyy"
                                name='curStartDate'
                                [(ngModel)]="curStartDate"
                                (onSelect)="onSelect($event)"></p-calendar>
                        </div>
                        <div class='col-6'>
                        <p-calendar dateFormat="dd.mm.yy"
                                name='curFinishDate'
                                readonlyInput="true"
                                [showIcon]="true"
                                [(ngModel)]="curFinishDate"
                                placeholder="dd.mm.yyyy"
                                [minDate]="minDate"
                                (onSelect)="checkBtn()"></p-calendar>
                        </div>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary btnSet" (click)='getInterStat(); getCarCosts();' [disabled]='buttons.checkBut'>Check</button>
                      </div>
                    </form>
  
                </div>
            </div> -->
          </div>
        </div>
        <div class="row" style="margin-top:1.5%">
            <div class="col-2">
              <button class="btn btn-primary" (click)='getWeakStat();getCarCosts();' id='perWeak' [disabled]="buttons.butWeek">Per weak</button>
            </div>
            <div class="col-2 offset-1">
              <button class="btn btn-primary" (click)='getMonthStat();getCarCosts();' id='perMonth' [disabled]="buttons.butMonth">Per month</button>
            </div>
            <div class="col-7">
                <form  style="text-align: center">
                  <div class="row">
                    <div class='col-6'>
                    <p-calendar dateFormat="dd.mm.yy"
                            readonlyInput="true"
                            [showIcon]="true"
                            placeholder="dd.mm.yyyy"
                            name='curStartDate'
                            [(ngModel)]="curStartDate"
                            (onSelect)="onSelect($event)"></p-calendar>
                    </div>
                    <div class='col-6'>
                      <p-calendar dateFormat="dd.mm.yy"
                            name='curFinishDate'
                            readonlyInput="true"
                            [showIcon]="true"
                            [(ngModel)]="curFinishDate"
                            placeholder="dd.mm.yyyy"
                            [minDate]="minDate"
                            (onSelect)="checkBtn()"></p-calendar>
                    </div>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary btnSet" 
                            (click)='getInterStat(); getCarCosts();' 
                            [disabled]='buttons.checkBut'
                            style="display: inline-block">Check</button>
                  </div>
                </form>

            </div>
        </div>
      </div>
  </div>
