<div class="list-group">
  <ul>
    <!--<li class="list-group-item"
        *ngFor="let service of services
        | approverFilter: filterCriteria: filterContent
        | paginate: {id: 'listing_pagination', itemsPerPage: entriesAmountOnPage, currentPage: page ,totalItems: totalRec}"
    >-->
    <li class="list-group-item"
        *ngFor="let service of services"
        style="margin-top:1.5%;"
    >
      <div class="row">
        <div class="col-1"
             title="id"
        >
          <!--<span class="badge badge-primary badge-pill idBadge">{{approver.id}}</span>-->

        </div>
        <div class="row col-5 offset-6"
             *ngIf="!isForUpdateAlertMessage"
        >

          <div class="col-1 offset-6 offset-lg-6">
            <p data-placement="top"
              data-toggle="tooltip"
              title="Restore"
              (click)="service.service_status = 2;
                        updateService(service);"
            >
              <button class="btn btn-success btn-md">
                <i class="fa fa-edit"></i>
              </button>
            </p>
          </div>

          <div class="col-1 offset-1 offset-lg-1">
            <p data-placement="top"
               data-toggle="tooltip"
               title="Edit"
               (click)="editService(service);"
               class="updatePrgph"
            >
              <button class="btn btn-primary btn-md">
                <i class="fa fa-edit"></i>
              </button>
            </p>
          </div>

          <div class="col-1 offset-1">
            <p data-placement="top"
               data-toggle="tooltip"
               title="Delete"
               (click)="deleteService(service.id);"
               class="deletePrgph"
            >
              <button class="btn btn-danger btn-md"
                      data-title="Delete"
                      data-toggle="modal"
                      data-target="#delete">
                <i class="fa fa-trash"></i>
              </button>
            </p>
          </div>
        </div>
      </div>

      <form [formGroup]="form"
            (ngSubmit)="changeService(service)">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <h3 class="col-2">Name</h3>
              <h3 class="offset-3"
                  *ngIf="currentServiceForUpdate !== service">
                {{service.service_name}}
              </h3>
              <input type="text"
                     class="form-control"
                     *ngIf="currentServiceForUpdate === service && !isForUpdateAlertMessage"
                     formControlName="service_name"
                     [value]="currentServiceForUpdate.service_name"
                     [ngClass]="{
                        'is-invalid':form.get('service_name').invalid,
                        'is-valid': form.get('service_descr').valid
                      }"
              >
            </div>

            <hr>

            <div class="row">
              <h5 class="col-2">Description</h5>
              <p class="offset-3"
                 *ngIf="currentServiceForUpdate !== service"
              >
                {{service.service_descr}}
              </p>
              <textarea class="form-control"
                        *ngIf="currentServiceForUpdate === service && !isForUpdateAlertMessage"
                        [ngClass]="{'is-invalid':form.get('service_descr').touched && form.get('service_descr').invalid,
                                    'is-valid': form.get('service_descr').valid
                                   }"
                        formControlName="service_descr"
                        [value]="currentServiceForUpdate.service_descr"
                        cols=40
                        rows=10
              ></textarea>
              <!--<input type="text" class="form-control"
                     *ngIf="currentApproverForUpdate === approver && !isForUpdateAlertMessage"
                     formControlName="email"
                     [value]="currentApproverForUpdate.email"
                     [ngClass]="{
                   'is-invalid':form.get('email').invalid,
                   'is-valid': form.get('email').valid
                   }"
              >-->
            </div>

            <hr>

            <div class="row">
              <h5 class="col-2">Date of creation</h5>
              <p class="offset-3">
                {{service.creation_date | date}}
              </p>
            </div>

            <div class="row"
                 *ngIf="currentServiceForUpdate === service && !isForUpdateAlertMessage"
            >
              <button class="btn btn-success col-4"
                      type="submit"
                      [disabled]="form.invalid"
              >
                OK
              </button>

              <button class="btn btn-info col-4 offset-4"
                      (click)="closeUpdateForm()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </li>
  </ul>
  <!--<pagination-controls id="listing_pagination" maxSize=5
                       (pageChange)="onChangePage($event)"
                       class="text-center">
  </pagination-controls>-->
</div>

<hr>

