<div class="list-group">
  <ul>
      <li class="list-group-item" 
          *ngFor="let trip of trips" 
          style="margin-top:1.5%;">

          <div class="row">
            <h3 class="col-6">
              Trip data:
            </h3>
            <div class="col-6">
                <div class="row align-items-start">
                  <div class="col" style="text-align: right">
                    {{trip.departure_spaceport.planet.planet_name}}
                  </div>
                  <div class="col"></div>
                  <div class="col">
                    {{trip.arrival_spaceport.planet.planet_name}}
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col" style="text-align: right">
                    {{trip.departure_spaceport.spaceport_name}}
                  </div>
                  <div class="col" style="text-align: center">
                    <i class="fa fa-arrow-right" style="margin: 0 auto"></i>
                  </div>
                  <div class="col">
                    {{trip.arrival_spaceport.spaceport_name}}
                  </div>
                </div>
                <div class="row align-items-end">
                  <div class="col" style="text-align: right">
                    {{trip.departure_date | date}}
                  </div>
                  <div class="col"></div>
                  <div class="col">
                    {{trip.arrival_date | date}}
                  </div>
                </div>
            </div>
            
          </div>

          <hr>

          <div class="row">
            <h3 class="col-6">Carrier:</h3>
            <div style="text-align: center" class="col-6">
              <span class="col-6">{{trip.carrier_name}}</span>
            </div>
          </div>

          <hr>

          <div class="row">
            <h5 class="col-6">Date of creation:</h5>
            <div style="text-align: center" class="col-6">
                <span class="col-6">{{trip.creation_date | date}}</span>
            </div>

          </div>

          <hr>

      <form *ngIf="loadingTrip !== trip">
          <div class="col-sm-12">
            <div class="row justify-content-around">
              <button class="btn btn-primary col-4"
                      (click)="onAssign(trip)">
                Assign to me
              </button>
            </div>
          </div>
      </form>
    </li>
  </ul>
  <app-paginator *ngIf="trips.length == tripsPerPage"
                  [page]="trips"
                  [from]="recordNumber"
                  [number]="tripsPerPage"
                  (update)="onChange($event)">
  </app-paginator>
</div>
<p-growl></p-growl>
