<div class="container">

    <div class="row h-100 justify-content-center">

      <div class="col-md-5 my-auto">

        <div class="card bg-alice-blue" style="margin-top:5%;">

          <div class="card-body register-body">

            <h1 class="card-title text-center">Register your account</h1>

            <form method="POST" action="">

              <div class="form-check text-center">

                <input class="form-check-input registerAsCarrierCheckInput" type="checkbox" value="" id="carrierCheck">

                <label class="form-check-label center-block" for="carrierCheck">
                  Register as a carrier
                </label>

              </div>

              <hr class="hr-xs">

              <div class="form-group">

                <div class="input-group mb-3">

                  <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user"></i>
                                        </span>
                  </div>

                  <input type="text" class="form-control usernameInput" placeholder="Your username" />
                </div>

              </div>

              <hr class="hr-xs">

              <div class="form-group">

                <div class="input-group mb-3">

                  <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                  </div>

                  <input type="text" class="form-control emailInput" placeholder="Your email address" />
                </div>

              </div>

              <hr class="hr-xs">

              <div class="form-group">

                <div class="input-group mb-3">

                  <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                  </div>

                  <input type="password" class="form-control passwordInput" placeholder="Choose a password" />
                </div>

              </div>

              <hr class="hr-xs">

              <div class="form-group">

                <div class="input-group mb-3">

                  <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                  </div>

                  <input type="password" class="form-control repeatPasswordInput" placeholder="Repeat password" />
                </div>

              </div>

              <hr class="hr-xs">

              <input type="submit" value="Sign up" class="btn btn-primary btn-block ">
              <div class="col-xs-1 text-left ">or
                <a routerLink="/">Cancel</a>
              </div>


            </form>

            <hr class="hr-xs">

            <p class="text-left">Already have an account?
              <a routerLink="/login">Log In</a>.</p>

          </div>

        </div>

      </div>

    </div>

  </div>
