<p-toast></p-toast>

<div class="list-group">
  <ul>
    <li class="list-group-item"
      *ngFor="let bundle of bundles"
    >
      <div class="row">

        <div class="row col-5 offset-6"
             *ngIf="!isForUpdateAlertMessage"
        >
          <div class="col-1 offset-4 offset-lg-8">
            <p data-placement="top"
               data-toggle="tooltip"
               title="Edit"
               (click)="onBundleUpdate(bundle)"
               class="updatePrgph"
            >
              <button class="btn btn-primary btn-md">
                <i class="fa fa-edit"></i>
              </button>
            </p>
          </div>

          <div class="col-1 offset-1">
            <p data-placement="top"
               data-toggle="tooltip"
               title="Delete"
               (click)="onBundleDelete(bundle)"
               class="deletePrgph"
            >
              <button class="btn btn-danger btn-md"
                      data-title="Delete"
                      data-toggle="modal"
                      data-target="#delete">
                <i class="fa fa-trash"></i>
              </button>
            </p>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2">
          <div class="row">
            <h5 class="col-12">From:</h5>
          </div>
          <div class="row">
            <p class="col-12">
              {{bundle.start_date | date}}
            </p>
          </div>

          <div class="row">
            <h5 class="col-12">To:</h5>
          </div>
          <div class="row">
            <p class="col-12">
              {{bundle.finish_date | date}}
            </p>
          </div>

          <div class="row">
            <h5 class="col-12">Price:</h5>
          </div>
          <div class="row">
            <p class="col-12">
              {{bundle.bundle_price}}
            </p>
          </div>

        </div>

        <div class="col-md-10">
          <div class="row">
            <h3 class="col-12"
              *ngIf="true">
              {{bundle.bundle_description}}
            </h3>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12">
          <h5>Trips:</h5>
          <div class="list-group">
            <ul>
              <li class="list-group-item"
                *ngFor="let trip of bundle.bundle_trips"
              >
                <div class="row">
                  <h5 class="col-12">
                    {{trip.departure_spaceport_name}}({{trip.departure_planet}}) - 
                    {{trip.arrival_spaceport_name}}({{trip.arrival_planet}})
                  </h5>
                </div>
                <h5>Classes:</h5>
                <ul>
                  <li class="list-group-item"
                    *ngFor="let ticket_class of trip.ticket_classes"
                  >
                    <div class="row align-items-end">
                      <h3 class="col-md-1">{{ticket_class.item_number}}</h3>
                      <h5 class="col-md-4 mr-auto">
                        {{ticket_class.class_name}}
                      </h5>
                      <h5 class="col-md-1">For:</h5>
                      <span class="col-md-4" style="margin-bottom: 0.5rem">
                        {{ticket_class.ticket_price}}
                      </span>
                    </div>
                    <ng-container *ngIf="ticket_class.services.length > 0">
                      <h5>Services:</h5>
                      <div class="list-group">
                        <ul>
                          <li class="list-group-item"
                            *ngFor="let service of ticket_class.services"
                          >
                            <div class="row align-items-end">
                              <h3 class="col-md-1">{{service.item_number}}</h3>
                              <h5 class="col-md-4 mr-auto">
                                {{service.service_name}}
                              </h5>
                              <h5 class="col-md-1">For:</h5>
                              <span class="col-md-4" style="margin-bottom: 0.5rem">
                                {{service.service_price}}
                              </span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </ng-container>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </li>
  </ul>
  <app-paginator
    [page]="bundles"
    [amount]="pageAmount"
    [from]="pageFrom"
    [number]="pageNumber"
    (update)="onPageUpdate($event)"
  >
  </app-paginator>
</div>

<hr>