@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
/*body {
    background-image: url("assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }*/

  @font-face {
    font-family: bahnschrift;
    src: url(assets/fonts/bahnschrift.ttf) format("opentype");
  }
