<p-toast></p-toast>

<header class="page-header">
  <div class="container header-container">
    <div class="col-12">
      <h1 class="text-center">Manage possible services</h1>
      <p class="lead text-center">Each ticket class can have certain cervices applied to it. Here you can choose which of your valid cervices will be avalable for every ticket class of your trip. You can also set the price of the service.</p>
    </div>
  </div>
</header>

<!-- 
<div class="container">
  <div class="ticket-card card">
    <div class="row">
      <div class="col">
        <div class="row">
          <h6 class="col-12">From:</h6>
        </div>
        <div class="row">
          <h5 class="col-12">{{trip.arrival_spaceport}} ({{trip.arrival_planet}})
          </h5>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h6 class="col-12">To:</h6>
        </div>
        <div class="row">
          <h5 class="col-12">{{trip.departure_spaceport}} ({{trip.departure_planet}})
          </h5>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h6 class="col-12">Departure date and time:</h6>
        </div>
        <div class="row">
          <h5 class="col-12">{{trip.departure_date}}
          </h5>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h6 class="col-12">Arrival date and time:</h6>
        </div>
        <div class="row">
          <h5 class="col-12">{{trip.arrival_date}}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<div class="container-fluid">
  <div class="background-card card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link"
          [class.active]="currentClassName == economyClassName"
          (click)="setClassName(economyClassName)">
            Economy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          [class.active]="currentClassName == firstClassName"
          (click)="setClassName(firstClassName)">
            First
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          [class.active]="currentClassName == buisnessClassName"
          (click)="setClassName(buisnessClassName)">
            Buisness
          </a>
        </li>
      </ul>
    </div>
  
    <div class="card-body row">
      <div class="col-12"
      *ngIf="getCurrentTicketClass() === undefined">
        <p style="color: red;">This ticket class does not exist</p>
      </div>

      <div class="col-md-6"
      *ngIf="getCurrentTicketClass() !== undefined">
        <h5>All services:</h5>
        <div class="container container-card card"
        *ngFor="let service of services">
          <div class="row">
            <div class="col">
              <div class="row">
                <h6 class="col-12">Name:</h6>
              </div>
              <div class="row">
                <h5 class="col-12">{{service.service_name}}</h5>
              </div>
            </div>
  
            <div class="col">
              <div class="row">
                <h6 class="col-12">Date of creation:</h6>
              </div>
              <div class="row">
                <h5 class="col-12">{{service.creation_date | date}}</h5>
              </div>
            </div>
          </div>
          
          <div class="row table-header">
            <div class="col">
              <pre class="description">{{service.service_descr}}</pre>
            </div>
          </div>
  
          <footer class="row table-footer justify-content-end">
            <div class="col-sm-auto">
              <button class="btn btn-xs btn-secondary list-buttons"
              (click)="addServiceToForm(service)">
                Add
              </button>
            </div>
          </footer>
        </div>
      </div>
  
  
      <div class="col-md-6"
      *ngIf="getCurrentTicketClass() !== undefined"
      [formGroup]="form">
        <h5>Possible services:</h5>
        <ng-container formArrayName="possibleServices">
          <div class="container container-card card"
          *ngFor="let possibleService of form.get('possibleServices').controls; let i=index">
            <ng-container [formGroupName]="i">
              <form [formGroup]="form.get('possibleServices').controls[i]"
              (ngSubmit)="onSave(f.control)"
              #f="ngForm">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <h6 class="col-12">Name:</h6>
                    </div>
                    <div class="row">
                      <h5 class="col-12">{{possibleService.value.service_name}}</h5>
                    </div>
                  </div>
        
                  <div class="col">
                    <div class="row">
                      <h6 class="col-12">Price:</h6>
                    </div>
                    <div class="row">
                      <input type="number"
                      class="form-control"
                      placeholder="price"
                      formControlName="service_price"
                      [ngClass]="{
                        'is-invalid': form.get('possibleServices').controls[i].invalid && form.get('possibleServices').controls[i].touched,
                        'is-valid': form.get('possibleServices').controls[i].valid && form.get('possibleServices').controls[i].touched}"
                      required>
                    </div>
                  </div>
                </div>
                
                <div class="row table-header">
                  <div class="col">
                    <pre class="description">{{possibleService.value.service_description}}</pre>
                  </div>
                </div>
        
                <footer class="row table-footer justify-content-end">
                  <div class="col-sm-auto">
                    <button class="btn btn-xs btn-success list-buttons"
                    type="submit"
                    [disabled]="form.get('possibleServices').controls[i].invalid">
                      Save
                    </button>
                  </div>
                  <div class="col-sm-auto">
                    <button class="btn btn-xs btn-danger list-buttons"
                    type="button"
                    (click)="onDelete(f.control)">
                      Delete
                    </button>
                  </div>
                </footer>
              </form>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>