.page-header {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    padding-top: 30px;
    border: none;
}

.header-container {
    position: relative;
    z-index: 1;
    background-color: rgba(240, 248, 255, 0.9);
    padding: 30px 30px 20px;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
    font-family: "bahnschrift", sans-serif;
}

.lead {
    font-size: 18px;
    line-height: 30px;
}

.ticket-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    font-family: "bahnschrift", sans-serif;
    padding: 1rem 1rem 0;
    margin: 16px auto;
    box-shadow: 0 2px 50px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 50px rgba(0,0,0,.25);
}

.background-card {
    background: rgba(240, 248, 255, 0.9);
    border-radius: 5px;
    font-family: "bahnschrift", sans-serif;
    margin: 16px auto;
    box-shadow: 0 2px 50px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 50px rgba(0,0,0,.25);
}

.container-card {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    font-family: "bahnschrift", sans-serif;
    padding: 1rem 1rem 0;
    margin: 16px auto;
    box-shadow: 0 2px 50px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 2px 50px rgba(0,0,0,.25);
}

.date {
    font-size: 20pt;
}

.table-header {
    background: #f5f5f5;
    border-top: 1px solid #007bff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-container {
    background: #f5f5f5;
    padding: 0.5rem 0.3rem;
    border-top: 1px dashed #7f7f7f;
}

.table-footer {
    border-top: 1px dashed #7f7f7f;
    padding-top: 14px;
    padding-bottom: 14px
}

.btn-xs {
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    font-size: 11px;
}

.list-buttons {
    margin-top: 10px;
}

.white-bg {
    background: #fff;
}

.nav-tabs > li > a{
    font-family: "bahnschrift", fantasy;
}

.nav-tabs > li > a:hover{
    color: #fff;
    background-color: DarkBlue !important;
}