<div class="container">
  <div class="row">
  <div class="card col-10 offset-1">
    <p class="header">About trip</p>
    <hr>
    <div class="row">
      <div class="col-4" style="text-align: right">
        <p>13.10.1898</p>
        <p>Planet</p>
        <p>Spaceport</p>
      </div>
      <div class="col-4">
        <div class="icon">
            <div class="arrow"></div>
        </div>
      </div>
      <div class="col-4">
        <p>13.10.1898</p>
        <p>Planet</p>
        <p>Spaceport</p>
      </div>
    </div>
    <hr>
    <ul>
      <!-- <li *ngFor="let service of services">{{}}</li> -->
      <li>text</li>
      <li>text</li>
    </ul>
    <hr>
    <div class="row header">
        <p class="col-4">To pay</p>
        <p class="col-4 offset-4" style="text-align: right;">555 $</p>
      </div>
      <hr>
      <div class="row">
          <button class="btn-del col-4 offset-1">Delete</button>
          <button class="btn-buy col-4 offset-2">Buy</button>
      </div>
    </div>
  </div>
</div>