.card{
  background: rgba(240, 248, 255, 0.9);
}

.table-card{
  margin-top: 2%;
}

.window-card{
  margin-top: 10%;
}

a {
  display: inline-block;
  transition: .3s;
  font-weight:bold;
  text-decoration:none;
  }
  a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  }

.header{
  font-size: 1.5em;
}

.service-btn {
  height: 24px;
  font-size: 15px;
  text-align: center;
  line-height: 11px;
  opacity: 0.6;
}

.controlBtn{
    display: inline-block;
    border: none;
    border-radius: 25px;
    padding: 13px 30px;
    text-decoration: none;
    color: #f5f5f5;
    background: #007bff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    margin-bottom: 2%;
  }

  .btn-del{
    background: #7ac142;
  }

  .btn-buy{
      background: #007bff;
  }

  .controlBtn:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 0 15px 25px rgba(0,0,0,.12);
    box-shadow: 0 15px 25px rgba(0,0,0,.12);
  }
  
  .controlBtn:focus {
    outline: none;
  }
  
  .controlBtn:active {
    box-shadow: none;
    -webkit-transition: all .14s cubic-bezier(.55,0,.1,1);
    transition: all .14s cubic-bezier(.55,0,.1,1);
    will-change: transform;
    transform: translateY(0);
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
  }
  
  .arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
  }
  
  .arrow::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    top: -12px;
    right: -8px;
    background-color: black;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    top: 12px;
    right: -8px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    margin-left: 5%;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }

  .close {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }