<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-xs-12">

      <div class="card historycard" style="margin-top: 7%">
        <div class="card-header">
          Orders History
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item cursorpointer">Tickets & Bundles</li>
        </ul>
      </div>

      <div class="card historycard" style="margin-top: 5%">
        <div class="card-header">
          Search parameters
        </div>
        <form [formGroup]="searchParams" (ngSubmit)="search(searchParams.value)">
          <div class="form-group">
            <label for="beforeDate" style="padding-left: 6%; padding-top: 5%">Before:</label>
            <input formControlName="beforeDate" type="date" name="beforeDate" id="beforeDate" style="width: 90%" class="form-control datepicker center">
            <label for="afterDate" style="padding-left: 6%; padding-top: 5%">After:</label>
            <input formControlName="afterDate" type="date" name="afterDate" id="afterDate" style="width: 90%" class="form-control datepicker center">
          </div>
          <button type="submit" class="btn btn-success center" style="margin-bottom: 5%;">Search</button>
        </form>
      </div>
    </div>

    <div class="col-lg-9" style="margin-top: 2%">
      <ng-container *ngIf="ticketData.length > 0">
        <ng-container
          *ngFor="let ticket of ticketData | paginate: {id: 'tickets-pagination', itemsPerPage: 2, currentPage: page}">
          
            <div class="card historycard" style="width: 100%; padding: 12px; margin-bottom: 2%">
              <div class="row">
                <div class="col-6" style="font-size: 21px; font-weight: bold">
                  <span>{{ticket.departure_planet_name}} - {{ticket.arrival_planet_name}}</span>
                  <div *ngIf="ticket.bundle_id">
                    <span style="font-size: 16px; font-weight: normal">Part of Bundle №{{ticket.bundle_id}}</span>
                  </div>
                </div>
                <div class="col-6" style="text-align: right; font-size: 20px">
                  <span>{{ticket.departure_date}}</span>
                  <br>
                  <span>{{ticket.arrival_date}}</span>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-6" style="font-size: 16px">
                  <span>Class: <span class="link-blue-span">{{ticket.class}}</span></span>
                  <br>
                  <span>{{ticket.bundle_id ? 'Bundle Price' : 'Price'}}: <span class="link-blue-span">{{ticket.price}} $</span></span>
                  <br>
                  <span>Departure spaceport: <span class="link-blue-span">{{ticket.departure_spaceport_name}}</span></span>
                  <br>
                  <span>Arrival spaceport: <span class="link-blue-span">{{ticket.arrival_spaceport_name}}</span></span>
                  <br><br>

                  <button class="btn btn-primary" type="button" data-toggle="collapse"
                          [attr.data-target]="'#btncollapse' + ticket.id"
                          aria-expanded="false" aria-controls="Collapse"
                          style="width: 90%; height: 24px; font-size: 15px; text-align: center; line-height: 11px; opacity: 0.6">
                    Show services
                  </button>
                  <div class="collapse" [attr.id]="'btncollapse' + ticket.id" style="width: 90%;">
                    <div class="card" style="background-color: rgba(240, 248, 255, 0.25);">
                      <ul type="disc" style="background-color: transparent; margin-top: 1rem;" >
                        <li *ngFor="let service of ticket.services" style="background-color: transparent;">
                          {{service.service_name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6" style="text-align: right; font-size: 18px">
                  <span>SEAT: &nbsp;<strong>{{ticket.seat}}</strong></span>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-6" style="font-size: 18px">
                  <span>Carrier: &nbsp;<span class="link-blue-span">{{ticket.carrier_name}}</span></span>
                </div>
                <div class="col-6" style="text-align: right; font-size: 18px">
                  <span>Bought at: &nbsp;{{ticket.purchase_date}}</span>
                </div>
              </div>
            </div>

        </ng-container>
      </ng-container>

      <ng-container *ngIf="ticketData.length == 0">
        <div class="card historycard" style="width: 100%; padding: 12px; margin-bottom: 2%">
          <div class="row">
            <div class="center">Nothing found</div>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <div class="col-md-6 offset-md-6 col-sm-9 offset-sm-3 col-xs-11 offset-xs-1">
          <div class="historycard text-center">
            <pagination-controls class="pagination center" id="tickets-pagination"
                                 (pageChange)="onPageChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
