<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 my-auto">
      <div class="card" style="margin-top:2%; background-color: rgba(240, 248, 255, 0.9);">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/approver/service/opened']">Opened</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/approver/service/assigned']">Assigned to me</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
