<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(240, 248, 255, 0.9);">
    <a class="navbar-brand" routerLink="/admin">
      <img class="logo" src="assets/images/logo.png" alt="StarTracker" />
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/carriers">Carriers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/approvers">Approvers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/bundles">Bundles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboards">Dashboards</a>
        </li>
        <li class="nav-item">
          <div class="d-inline-block">
            <a class="slide-btn" routerLink="">
              <span>Log out</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
