<app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 my-auto">
      <div class="card" style="margin-top:5%; background-color: rgba(240, 248, 255, 0.9);">
        <h3 class="card-title text-center">Manage bundles</h3>
        <div class="card-body">
          <div class="card-title">placeholder crud, replace with component</div>
          <table class="table table-striped">
            <thead>

            <th><input type="checkbox" id="checkall" /></th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr>
              <td><input type="checkbox" class="checkthis" /></td>
              <td>Mohsin</td>
              <td>isometric.mohsin@gmail.com</td>
              <td>+923335586757</td>
              <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a class="btn btn-primary btn-xs" routerLink="/admin/user-details/1"><i class="fa fa-edit"></i></a></p></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash"></i></button></p></td>
            </tr>
            </tbody>
          </table>
          <div class="clearfix"></div>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
