      <div class="card" style="margin-top:1.5%; background-color: rgba(240, 248, 255, 0.9);">
        <div class="container-fluid">
            <h2 class="text-center">
              New Service
            </h2>

          <hr>

              <form [formGroup]="form"
                    (ngSubmit)="onPost(status)">

                <div class="form-group">
                  <input type="text" class="form-control"
                        [ngClass]="{
                          'is-invalid':form.get('service_name').touched && form.get('service_name').invalid,
                          'is-valid': form.get('service_name').valid
                        }"
                        formControlName="service_name"
                        placeholder="Service name"
                  >
                  <span *ngIf="form.get('service_name').touched && form.get('service_name').invalid"
                        class="invalid-feedback"
                  >
                    <span *ngIf="form.get('service_name')['errors']['required']">Input the name of service</span>
                    <span *ngIf="form.get('service_name')['errors']['minlength']">
                      The service name must be longer than {{form.get('service_name')['errors']['minlength']['requiredLength']}} symbols.
                    </span>
                  </span>
                </div>

                <div class="form-group">

                  <textarea [ngClass]="{
                              'is-invalid':form.get('service_descr').touched && form.get('service_descr').invalid,
                              'is-valid': form.get('service_descr').valid
                            }"
                            formControlName="service_descr"
                            placeholder="Service description"
                            class="form-control"
                  ></textarea>

                  <span *ngIf="form.get('service_descr').touched && form.get('service_descr').invalid"
                        class="invalid-feedback"
                  >
                    <span *ngIf="form.get('service_descr')['errors']['required']">
                      Input the description of service
                    </span>

                    <span *ngIf="form.get('service_descr')['errors']['minlength']">
                      Username must be longer than {{form.get('service_descr')['errors']['minlength']['requiredLength']}} symbols.
                    </span>

                  </span>

                </div>

                <hr>

                <div class="row" style="text-align: center">
                  <div class="col-3" style="margin: 0 auto">
                      <button class="btn-success btn btn-block"
                              type="submit"
                              [disabled]="form.invalid"
                              (click)="onPost('OPEN')"
                      >
                        Add
                      </button>
                  </div>
                  <div class="col-3" style="margin: 0 auto">
                      <button class="btn-primary btn btn-block"
                              type="submit"
                              [disabled]="form.invalid"
                              (click)="onPost('DRAFT')"
                      >
                Continue editing later
              </button>
                  </div>
                </div>

              </form>
            <hr>
        </div>
      </div>

      <div class="row">
        <input type="text" class="form-control col-3 ml-auto"
               placeholder="Filter by name"
               [(ngModel)]="filterContent"
               style="margin-top: 1.5%; margin-right: 1.5%;"
        />
      </div>

      <div class="list-group">
          <ul>
            <li class="list-group-item"
                *ngFor="let service of services
                        | serviceFilter: filterContent
                        | paginate: { itemsPerPage: 5, currentPage: page}"
                style="margin-top:1.5%;"
            >
              <div class="row">
                <div class="row col-5 offset-6"
                     *ngIf="!isForUpdateAlertMessage"
                >
        
                  <div class="col-1 offset-4 offset-lg-8">
                    <p data-placement="top"
                       data-toggle="tooltip"
                       title="Edit"
                       (click)="editService(service);"
                       class="updatePrgph"
                    >
                      <button class="btn btn-primary btn-md">
                        <i class="fa fa-edit"></i>
                      </button>
                    </p>
                  </div>
        
                  <div class="col-1 offset-1">
                    <p data-placement="top"
                       data-toggle="tooltip"
                       title="Delete"
                       (click)="service.service_status = 'REMOVED';
                                updateService(service)"
                       class="deletePrgph"
                    >
                      <button class="btn btn-danger btn-md"
                              data-title="Delete"
                              data-toggle="modal"
                              data-target="#delete">
                        <i class="fa fa-trash"></i>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
        
              <form [formGroup]="formTable"
                    (ngSubmit)="changeService(service)">
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <h3 class="col-2">Name</h3>
                      <h3 class="offset-3"
                          *ngIf="currentServiceForUpdate !== service">
                        {{service.service_name}}
                      </h3>
                      <input type="text"
                             class="form-control"
                             *ngIf="currentServiceForUpdate === service && !isForUpdateAlertMessage"
                             formControlName="service_name"
                             [value]="currentServiceForUpdate.service_name"
                             [ngClass]="{
                                'is-invalid':formTable.get('service_name').invalid,
                                'is-valid': formTable.get('service_descr').valid
                              }"
                      >
                    </div>
        
                    <hr>
        
                    <div class="row">
                      <h5 class="col-2">Description</h5>
                      <p class="offset-3"
                         *ngIf="currentServiceForUpdate !== service"
                      >
                        {{service.service_descr}}
                      </p>
                      <textarea class="form-control"
                                *ngIf="currentServiceForUpdate === service && !isForUpdateAlertMessage"
                                [ngClass]="{'is-invalid':formTable.get('service_descr').touched && formTable.get('service_descr').invalid,
                                            'is-valid': formTable.get('service_descr').valid
                                           }"
                                formControlName="service_descr"
                                [value]="currentServiceForUpdate.service_descr"
                                cols=40
                                rows=10
                      ></textarea>
                    </div>
        
                    <hr>
        
                    <div class="row">
                      <h5 class="col-2">Date of creation</h5>
                      <p class="offset-3">
                        {{service.creation_date | date}}
                      </p>
                    </div>
        
                    <div class="row"
                         *ngIf="currentServiceForUpdate === service && !isForUpdateAlertMessage"
                    >
                      <button class="btn btn-success col-4"
                              type="submit"
                              [disabled]="formTable.invalid"
                      >
                        OK
                      </button>
        
                      <button class="btn btn-info col-4 offset-4"
                              (click)="closeUpdateForm()"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        <p-growl></p-growl>
      </div>

      <div class="row justify-content-center">
        <div class="col-8">
          <pagination-controls class="listing-pagination"
                               maxSize=5
                               (pageChange)="onChangePage($event)">
          </pagination-controls>
        </div>
      </div>


