<div class="wrapper container-fluid">
    <div class="row h-100 justify-content-center">
      <div class="col-lg-4 col-md-6 my-auto">
        <div class="card login-form__bg">
          <div class="card-body register-body">
            <h1 class="card-title text-center login-form__header">Log In</h1>
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              
              <hr class="hr-xs">
              
              <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                    <label for="username"></label>
                    <input
                      type="text"
                      class="form-control login-form__input"
                      placeholder="Enter username"
                      id="username"
                      formControlName="username"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                      />
                  </div>
                  <div class="login-form__invalid" *ngIf="submitted && f.username.errors">
                    <div *ngIf="f.username.errors.required">
                      This field is required
                    </div>
                  </div>
                </div>
              
              <hr class="hr-xs">
              
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                  <label for="password"></label>
                  <input
                    type="password"
                    class="form-control login-form__input"
                    placeholder="Enter password"
                    id="password"
                    formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    />
                </div>
                <div *ngIf="submitted && f.password.errors" class="login-form__invalid">
                  <div *ngIf="f.password.errors.required">This field is required</div>
                </div>
              </div>
              
              <hr class="hr-xs">
              
              <button
                type="submit"
                class="btn btn-primary btn-block"
              >
                Log In
              </button>
              
              <div class="row login-form__redirect">
                <div class="text-left ">or
                  <a routerLink="/">Cancel</a>
                </div>
                <div class="text-right ">
                  <a href="#">Forgot password?</a>
                </div>
              </div>
            </form>
            
            <hr class="hr-xs">
            <p class="text-left">Want to create a new account?
              <a routerLink="/sign-up">Sign up</a>.</p>
          </div>
        </div>
      </div>
    </div>
</div>