<div class="container-fluid text-right">
  <select class="custom-select-lg"
          (change)="setDiscountType(select.value)"
          #select
  >
    <option *ngFor="let select of selects"
            [value]="select"
    > {{select}}
    </option>
  </select>
</div>

<hr>

<div class="container-fluid">
  <ul class="list-group"
      *ngIf="currentTypeDataToRender === 'Ticket class'"
  >
    <li class="list-group-item"
        *ngFor="let trip of tripsWithTicketClasses"
    >
      <ticket-class [trip]="trip"
                    (onAddTicketClassEmitter)="postTicketClassDiscount($event)"
                    (onDeleteTicketClassEmitter)="deleteTicketClassDiscount($event)"
      ></ticket-class>
    </li>
  </ul>

  <ul class="list-group"
      *ngIf="currentTypeDataToRender === 'Suggestion'"
  >
    <li class="list-group-item"
        *ngFor="let trip of tripsWithSuggestions"
    >
      <suggestion [trip]="trip"
                  (onAddSuggestionEmitter)="postSuggestionDiscount($event)"
                  (onDeleteSuggestionEmitter)="deleteSuggestionDiscount($event)"
      ></suggestion>
    </li>
  </ul>
</div>
